#center{
    margin: 15% auto;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.fa-trash {
    float: right;
    color: red;
}

.container {
    margin-top: 5%;
}

.listDlt {
    list-style: none;
}

i {
    color: rgba(0, 0, 0, 0.5);
}

i:hover {
    color: rgba(0, 0, 0, 0.7);
}

td .DltICon .trashIcon{
    padding: 0;
}

.taskActions > form{
    display: inherit;
    float: right;
}
